<div class="row">
    <div class="col-md-10">
        <h1 class="admin-heading"><i class="fa fa-gears"></i> All Categories</h1>
    </div>
    <div class="col-md-2">
        <a class="add-new" href="category/create">add category</a>
    </div>
    <div class="col-md-12">
        <div id="mytable"></div>
    </div>
</div>

<script src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>
<script>

    document.addEventListener("DOMContentLoaded", () => {
        new Tabulator("#mytable", {
            data: <%- JSON.stringify(categories) %>,
            layout: "fitColumns",
            pagination:true,
            paginationSize:10,
            paginationSizeSelector:[2,5,10,15],
            downloadRowRange: "visible",
            placeholder:"No Data Set",
            columns:[
                {title:"S.No.", formatter:"rownum", width:100, hozAlign:"center"},
                {title:"Name", field:"name", headerFilter:"input"},
                {title:"Description", field:"description", headerFilter:"input"},
                {title:"Slug", field:"slug", headerFilter:"input"},
                {title:"Action", formatter:function(cell, formatterParams, onRendered){
                    return `<a href="category/edit/${cell.getData()._id}" class="btn btn-info"><i class="fa fa-edit">Edit</i></a>
                            <a href="javascript:void(0)" onclick="onDelete('${cell.getData()._id}')" class="btn btn-outline-danger"><i class="fa fa-trash-o"></i>Delete</a>`;
                }},
                
            ],
        });
    });

    async function onDelete(id){
        if(confirm('Are you sure?')){
            const response = await fetch(`/admin/category/delete/${id}`, {
                method: 'DELETE'
            })
            if(response.ok){
                window.location.reload();
            }
            if(response.status === 400){
                const error = await response.json();
                alert(error.msg);
            }
        }
    }

    
</script>

<%- contentFor('tabulatorCss') %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator.min.css" rel="stylesheet">