<% if(errors.length > 0){%>
    <div class="alert alert-danger mb-2">
        <ul>
            <% errors.forEach((err)=>{ %>
                <li><%= err.msg%></li>
            <% }) %>
        </ul>
    </div>
<% } %>